<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록 - 사용자</title>
</head>
<body>
    <h1>회원 목록</h1>
    <form action="/user/mulDel" method="post" th:object="${delMemberCommand}">
        <table class="table">
            <tr>
                <th><input type="checkbox" name="all" onclick="allSel(this.checked)" /></th>
                <th>아이디</th>
                <th>이름</th>
                <th>주소</th>
                <th>이메일</th>
                <th>가입일</th>
            </tr>
            <th:block th:if="${#lists.isEmpty(list)}">
                <tr>
                    <td colspan="6" style="text-align: center;">--- 작성된 회원이 없습니다. ---</td>
                </tr>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(list)}">
                <tr th:each="member : ${list}">
                    <td><input type="checkbox" name="memberId" th:value="${member.memberId}"/></td>
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.address}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${#dates.format(member.regDate, 'yyyy-MM-dd')}"></td>
                </tr>
            </th:block>
            <tr>
                <td colspan="6">
                    <button type="button" class="btn" th:onclick="|location.href='@{/user/addUser}'|">회원 추가</button>
                    <button type="submit" class="btn">삭제</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
